<div class="container-fluid">
 
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <h4 class="center">VENDOR REGISTRATION FORM</h4>
        
        <div class="form-group">
                <div>
                    <label>Company Name</label>
                    <input [class.is-invalid]="registrationForm.get('companyName').invalid 
                    && registrationForm.get('companyName').touched" type="text" 
                    formControlName="companyName" class="form-control">  
                    <small [class.hidden]="registrationForm.get('companyName').valid 
                    || registrationForm.get('companyName').untouched" class="text-danger">
                    Enter Company Name
                </small>
                </div>
        </div>
        <div class="form-group">
            <div>
                 <label>Username</label>
                 <input [class.is-invalid]="registrationForm.get('userName').invalid 
                 && registrationForm.get('userName').touched" type="text" 
                 formControlName="userName" class="form-control">
                 <small class="text-danger" *ngIf="userName.hasError('pattern') && (userName.dirty || userName.touched)" >
                     Enter Valid Email Address</small>
                 <small [class.hidden]="registrationForm.get('userName').valid 
                 || registrationForm.get('userName').untouched" 
                 class="text-danger">Enter your Username</small>
            </div>
         </div>
         <div class="form-group">
            <div class="row">
                 <div class="col-md-6">
                     <label>Password</label>
                     <input [class.is-invalid]="registrationForm.get('password').invalid 
                     && registrationForm.get('password').touched" type="password" class="form-control" formControlName="password">
                     
                     <small [class.hidden]="registrationForm.get('password').valid 
                     || registrationForm.get('password').untouched" 
                     class="text-danger">Create Password</small>
                     <small *ngIf = "password.hasError('minlength') && !password.hasError('required')" class = "text-danger">Min Strength 6 Char.</small>
                     
                </div>
                <div class="col-md-6">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword">
                    <small>Password is unmatched</small>
               </div>
            </div>  
         </div>
         <div class="form-group">
            <div>
                <label>Mobile</label>
                <input [class.is-invalid]="registrationForm.get('mobile').invalid 
                && registrationForm.get('mobile').touched" type="text" formControlName="mobile" 
                class="form-control">
                <small [class.hidden]="registrationForm.get('mobile').valid 
                || registrationForm.get('mobile').untouched" 
                class="text-danger">Enter your Mobile number</small>
                <small *ngIf = "(mobile.hasError('minlength') &&
                !mobile.hasError('required')) || (mobile.hasError('maxlength') &&
                !mobile.hasError('required'))" class ="text-danger">Invalid Mobile Number</small>
            </div>
        </div>
        <h5 class="bg-primary">Banking Credentials:</h5>
        <div class="form-group" formGroupName="bankDet">
                 <div class="row">
                     <div class="col-md-6">
                        <label>Account Number</label>
                        <input [class.is-invalid]="registrationForm.get('bankDet').get('accountNumber').invalid 
                        && registrationForm.get('bankDet').get('accountNumber').touched" type="text" 
                        class="form-control" formControlName="accountNumber">
                        <small [class.hidden]="registrationForm.get('bankDet').get('accountNumber').valid 
                        || registrationForm.get('bankDet').get('accountNumber').untouched" 
                        class="text-danger">Enter Your A/c</small>
                     </div>    
                     <div class="col-md-6">
                        <label>Confirm Account Number</label>
                        <input type="text" class="form-control" formControlName="confirmAccountNumber">
                        <small>Account Number unmatched</small>
                     </div>      
                </div>  
                <div class="row">
                    <div class="col-md-6">
                       <label>Bank Name</label>
                       <input [class.is-invalid]="registrationForm.get('bankDet').get('bankName').invalid 
                       && registrationForm.get('bankDet').get('bankName').touched" 
                       type="text" class="form-control" formControlName="bankName">
                       <small [class.hidden]="registrationForm.get('bankDet').get('bankName').valid 
                       || registrationForm.get('bankDet').get('bankName').untouched" 
                       class="text-danger">Enter your Bank</small>
                    </div>    
                    <div class="col-md-6">
                       <label>IFSC</label>
                       <input [class.is-invalid]="registrationForm.get('bankDet').get('bankIFSC').invalid 
                       && registrationForm.get('bankDet').get('bankIFSC').touched" 
                       type="text" class="form-control" formControlName="bankIFSC">
                       <small [class.hidden]="registrationForm.get('bankDet').get('bankIFSC').valid 
                       || registrationForm.get('bankDet').get('bankIFSC').untouched" 
                       class="text-danger">IFSC code?</small>
                    </div>      
               </div>  
         </div>
         <div class="form-group" formGroupName="paymentDet">
                <div class="row">
                    <div class="col-md-6">
                        <label>GST</label>
                        <input [class.is-invalid]="registrationForm.get('paymentDet').get('gstNum').invalid 
                        && registrationForm.get('paymentDet').get('gstNum').touched" 
                        type="text" class="form-control" formControlName="gstNum">
                        <small [class.hidden]="registrationForm.get('paymentDet').get('gstNum').valid 
                        || registrationForm.get('paymentDet').get('gstNum').untouched" 
                        class="text-danger">Enter your GST</small>
                    </div>    
                    <div class="col-md-6">
                        <label>PAN</label>
                        <input [class.is-invalid]="registrationForm.get('paymentDet').get('panNum').invalid 
                        && registrationForm.get('paymentDet').get('panNum').touched" 
                        type="text" class="form-control" formControlName="panNum">
                        <small [class.hidden]="registrationForm.get('paymentDet').get('panNum').valid 
                        || registrationForm.get('paymentDet').get('panNum').untouched" class="text-danger" >PAN is Required</small>
                    </div>
                </div>
                <h5 class="bg-primary">Address Details:</h5>
                    <div class="form-group" formGroupName="address">
                        <div class="row">
                            <div class="col-md-6">
                                <label>HNO.</label>
                                <input [class.is-invalid]="registrationForm.get('paymentDet').get('address').get('hno').invalid 
                                && registrationForm.get('paymentDet').get('address').get('hno').touched"
                                type="text" class="form-control" formControlName="hno">
                                <small [class.hidden]="registrationForm.get('paymentDet').get('address').get('hno').valid ||
                                registrationForm.get('paymentDet').get('address').get('hno').untouched" 
                                class="text-danger">Enter Hno.</small>  
                            </div>    
                            <div class="col-md-6">
                                <label>Locality</label>
                                <input [class.is-invalid]="registrationForm.get('paymentDet').get('address').get('locality').invalid 
                                && registrationForm.get('paymentDet').get('address').get('locality').touched" 
                                type="text" class="form-control" formControlName="locality">
                                <small [class.hidden]="registrationForm.get('paymentDet').get('address').get('locality').valid ||
                                registrationForm.get('paymentDet').get('address').get('locality').untouched" 
                                class="text-danger">Enter your Locality</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>City</label>
                                <select class="form-control" formControlName="cities" >
                                    <option value="">Select your city</option>
                                    <option value="mumbai">Mumbai</option>
                                    <option value="New Delhi">New Delhi</option>
                                    <option value="Benguluru">Benguluru</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Ahmedabad">Ahmedabad</option>
                                    <option value="Kolkata">Kolkata</option>
                                    <option value="Pune">Pune</option>
                                </select>
                                                            
                            </div>   
                            <div class="col-md-4">
                                <label>State</label>
                                <input  [class.is-invalid]="registrationForm.get('paymentDet').get('address').get('state').invalid 
                                && registrationForm.get('paymentDet').get('address').get('state').touched"
                                type="text" class="form-control" formControlName="state">
                                <small [class.hidden]="registrationForm.get('paymentDet').get('address').get('state').valid ||
                                registrationForm.get('paymentDet').get('address').get('state').untouched" 
                                class="text-danger">Enter State</small>  
                            </div> 
                            <div class="col-md-4">
                                <label>Pincode</label>
                                <input  [class.is-invalid]="registrationForm.get('paymentDet').get('address').get('pincode').invalid 
                                && registrationForm.get('paymentDet').get('address').get('pincode').touched" 
                                type="text" class="form-control" formControlName="pincode">
                                <small [class.hidden]="registrationForm.get('paymentDet').get('address').get('pincode').valid ||
                                registrationForm.get('paymentDet').get('address').get('pincode').untouched" 
                                class="text-danger">Enter Pincode</small>  
                                
                            </div> 
                            
                        </div>      
                    </div>  
        </div>    
         <div class="form-check mb-3">
            <input checked type="checkbox" class="form-check-input" name="check">
            <label class="form-check-label">I agree to the terms and conditions.</label>
            
        </div>
             <button [disabled]="!registrationForm.valid" class="btn btn-primary" type="submit">Register</button>
             <!--<button class="btn btn-secondary ml-2" type="button" (click)="loadAPI()">Load API Data</button>-->
    </form>
</div>
